/* ////////////////// global values /////////////////// */

html{
	margin:0; padding:0;
	background-color: #f2f2f2;
	scroll-behavior: smooth;
	cursor: url(../data/assets/cursor-01.png), auto !important;
}


body{
	margin: 0; padding: 0;
	overflow: hidden;
	background-color: #f2f2f2;
	cursor: url(../data/assets/cursor-01.png), auto !important;
}

header, footer{
	margin: 0; padding: 0;
}


h1{
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	color: #333333;
	font-size: 20pt;
	position: relative;
}


h2{
	text-align: left;
	font-family: 'Roboto Mono', monospace;
	color: #333333;
	font-size: 15pt;
	position: relative;
}

h3{
	text-align: right;
	font-family: 'Roboto Mono', monospace;
	color: #333333;
	font-size: 15pt;
	/*font-weight: 200;*/
	position: relative;
}


p{
	text-align: left;
	font-family: 'Roboto Mono', monospace;
	color: #333333;
	font-size: 10pt;
	position: relative;
}


a{
	text-decoration: none;
	color: #f2f2f2;
	display: block;
	background-color: #333333;
	cursor: url(../data/assets/cursor-01.png), auto !important;
}


a.pageL{
	text-align: left;
	font-family: 'Roboto Mono', monospace;
	font-size: 15pt;
	color: #f2f2f2;
	text-decoration: none;
	background-color: #808080;
}

a.inline, a:hover{
	text-decoration: none;
	color: #333333;
	background-color: #808080;
}

hr.a{
	border-style: none;
  	border-top: thin dotted #333333;
}

* {
  box-sizing: border-box;
}


::-webkit-scrollbar {
	width: 5px;

}

::-webkit-scrollbar-thumb {
	background: #333333;

}

::-webkit-scrollbar-corner {
	display: none;
}

/* /////////////////////// CUSTOM DIVS ////////////////////// */

.header_div{
	position: fixed;
	display: inline-block;
	padding-left: 1%;
	padding-right: 1%;
	width: 100vw;
	height: 10vh;
	/*background-color: #f2f2f2;*/
	pointer-events: none;
	border-style: dashed;
	border-color: #333333;
	border-width: thin;
	z-index: 3;
}

.footer_div{
	position: fixed;
	display: inline-block;
	padding-left: 1%;
	padding-right: 1%;
	top: 90vh;
	width: 100vw;
	height: 10vh;
	/*background-color: #f2f2f2;*/
	pointer-events: none;
	border-style: dashed;
	border-color: #333333;
	border-width: thin;
	z-index: 3;
}

.main_cont{
	position: fixed;
	display: inline-block;
	padding: 0;
	margin: 0;
	top: 10vh;
	width: 100vw;
	height: 90vh;
	/*background-color: #f2f2f2;*/
	border-style: dashed;
	border-color: #333333;
	border-width: thin;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.full_span_div{
	position: relative;
	padding: 1%;
	margin: 0;
	width: auto;
	height: auto;
	/*background-color: #f2f2f2;*/
	border-style: dashed;
	border-color: #333333;
	border-width: thin;
	overflow: hidden;

}

.half_span_div{
	float: left;
	display: inline-flex;
	position: relative;
	padding: 1%;
	margin: 0;
	width: 50%;
	height: 28vh;
	/*background-color: #f2f2f2;*/
	border-style: dashed;
	border-color: #333333;
	border-width: thin;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

}

.label_div{
	position: fixed;
	height: 40px;
	width: 24%;
	z-index: 2;
}

.space_40_div{
	position: relative;
	height: 70px;
}

.collapsible{
	display: none;
}

.collapsible2{
	padding: 0%;
	border-style: none;
	margin: 0;
	display: block;
	position: relative;
	left: 0;
	float: all;
	width: auto;
	/*border: thin dashed;*/
	text-align: left;
	font-family: 'Roboto Mono', monospace;
	color: #333333;
	font-size: 15pt;
	/*background-color: #f2f2f2;*/
	z-index: 1;
}

.collapsible2:hover, .collapsible:hover{
	background-color: #333333;
	color: #f2f2f2;
}

.subCont{
	display: none;
	margin: 0;
	border-style: none;
	border: thin dashed;
	background-color: #f2f2f2;
	/*height: 100%;*/
}

.hidCont{
	display: block;
	margin: 0;
	width: auto;
	border-style: none;
	position: relative;
	/*height: 100%;*/
}

.top_hid_div{
	display: none;
}

.page_grid{
	display: grid;
	grid-template-rows: 10vh 80vh 10vh;
	grid-template-columns: auto;
}

.page_item{
	display: block;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.index_grid{
	display: grid;
	margin: 0;
	padding: 0;
	grid-template-columns: repeat( auto-fit, minmax(25%, 1fr));
	overflow-y: hidden;
}

.grid_item{
	display: inline-block;
	width: auto;
	height: 60vh;
	padding-left: 1%;
	/*background-color: #f2f2f2;*/
	border-style: dashed;
	border-color: #333333;
	border-width: thin;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}


/* /////////////////// MEDIUM SCREEN  ////////////////////// */

@media screen and (max-width:  1200px){

.index_grid{
	grid-template-columns: auto;

}

.grid_item{
	height: auto;
}

.top_hid_div{
	display: block;
	position: relative;
	height: 1vh;
}

.space_40_div{
	display: none;
}

.hidCont{
		display: none;
	}

.collapsible{
	padding: 0%;
	border-style: none;
	margin: 0;
	display: block;
	position: relative;
	left: 0;
	float: all;
	width: auto;
	border: thin dashed;
	text-align: all;
	font-family: 'Roboto Mono', monospace;
	color: #333333;
	font-size: 40pt;
	background-color: #f2f2f2;
	z-index: 1;
}

.label_div{
		display: none;
	}

.half_span_div{
	display: block;
	width: auto;
	height: auto;
}

}

/* /////////////////// SMALL SCREEN  ////////////////////// */

@media screen and (max-width:  600px){

}